[alias]
	b = branch
	ba = branch --all
	co = checkout
	d = diff
	l = log --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n'
	lv = log --name-status --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n'
	s = status --branch --short

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore-global

[merge]
	ff = false

[user]
	name = noboru-i
	email = ishikura.noboru@gmail.com
