[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".zsh/zsh-notify"]
	path = .zsh/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
